<h1>Donate an item</h1>
<%= form_for @chair do |f| %>

	<%= label_tag(:name, "Type:") %>
	<%= f.text_field :name %></br>
	
	<%= label_tag(:description, "Description") %> 
	<%= f.text_area :description %>

	<%= label_tag(:address, "Address (123 Main St, San Francisco, CA):") %>
	<%= f.text_field :address %></br>

  	<%= f.label :image %>
  	<%= f.file_field :image %>
<br></br>	
	<%= f.submit "Donate", :class => "btn-info" %>

<% end %>

