<h2>Donate an item</h2>
<%= form_for @chair do |f| %>

	<div><%= label_tag(:name, "Type:") %></div>
	<div><%= f.text_field :name %></br></div>
	
	<div><%= label_tag(:description, "Description") %></div> 
	<div><%= f.text_area :description %></div>

	<div><%= label_tag(:address, "Address (123 Main St, San Francisco, CA):") %></div>
	<div><%= f.text_field :address %></br></div>

  	<div><%= f.label :image %></div>
  	<div><%= f.file_field :image %></div></br>
	<div><%= f.submit "Donate", :class => "btn-info" %></div>

<% end %>

