<!-- need to add edit for user's donations -->

<h1>Furniture details</h1>
<div class="container">

	<p>Type: <%= @chair.name%></p>
	<p>Description: <%= @chair.description%></p>
	<p>Address: <%= @chair.address%></p>
	<%= image_tag @chair.image(:medium) %>

	<div id="google">
		<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@chair.address}" %>
	</div>
		<br></br>
	
</div>


<%= link_to "Delete", chair_path, :method => :delete, data: { :confirm => 'Are you sure?'}, :class => 'btn-danger' %>
</br></br>
<%= link_to "Back To Chairs List",chairs_path%>